*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: initial !important;
}

.photo-gallery ul {
	padding-left: 0;
	list-style: none;
}

.photo-gallery .grid-x .cell + .cell {
	margin-top: 0.4rem;
}

.term {
	width: 100%;
	height: 80vw;
	margin: 0;
	padding: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.term dfn {
	font-style: normal;
}

.term dd {
	margin-left: 0;
}

.term-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.term-image img {
	display: block;
	width: auto;
	height: 100%;
}

.term-name,
.term-description {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 0.6);
	position: relative;
	z-index: 1;
}

.term-name {
	width: auto;
	font-weight: 600;
}

.term-description {
	width: 100%;
	margin-top: 0.5rem;
	overflow-y: auto;
}

.maps ul {
	padding-left: 0;
	list-style: none;
}

.map {
	margin: 0;
}

.map dd {
	margin-left: 0;
}

.map-content {
	width: 100%;
	max-width: 18.75rem;
	height: 18.75rem;
}

.info-window {
	padding: 0 2rem 0 1rem;
}

.info-window ul {
	padding-left: initial;
	list-style: initial;
}

.info-window li + li {
	margin-top: 0.5rem;
}

.info-window h1 {
	margin-left: 0.5rem;
	text-align: center;
}

.info-window header {
	display: flex;
	flex-direction: row-reverse;
}

.info-window header .restaurant-thumbnail,
.info-window header a {
	flex: 0 0 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-window header .restaurant-thumbnail img,
.info-window header a > img {
	width: 100%;
	height: auto;
	display: block;
}

.info-window dl {

}

.info-window dt {
	font-weight: 600;
}

.info-window dt::after {
	content: ":";
	margin-right: 0.2em;
}

.info-window dt ~ dd dl {
	margin-left: 0.5rem;
}

.info-window dt ~ dt {
	margin-top: 1rem;
}

.info-window dd {
	display: inline-block;
}

.info-window dd + dd::before {
	content: ", ";
}

.info-window dd + dd.contains-dl::before {
	content: "";
	display: block;
	width: 100%;
}

@media (min-width: 20em) {
	.term {
		font-size: 1.25rem;
	}

	.term-name,
	.term-description {
		padding: 0rem 1rem;
	}

	.term-description {
		margin-top: 0.5rem;
		line-height: 1.8;
	}
}

@media (min-width: 40em) {
	.photo-gallery .grid-x .cell {
		flex: 0 0 calc(50% - 0.4rem);
	}

	.photo-gallery .grid-x .cell + .cell {
		margin-top: 0;
		margin-left: 0.4rem;
	}

	.photo-gallery .grid-x .cell + .cell ~ .cell {
		margin-top: 0.4rem;
	}

	.term {
		height: 40vw;
		font-size: 1.5rem;
	}
}
