*,
*::before,
*::after {
	box-sizing: border-box;
}

.photo-gallery ul {
	padding-left: 0;
	list-style: none;
}

.photo-gallery li + li {
	margin-top: 0.4rem;
}

.term {
	width: 100%;
	height: 80vw;
	margin: 0;
	padding: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.term dfn {
	font-style: normal;
}

.term dd {
	margin-left: 0;
}

.term-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.term-image img {
	display: block;
	width: auto;
	height: 100%;
}

.term-name,
.term-description {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 0.6);
	position: relative;
	z-index: 1;
}

.term-name {
	width: auto;
	font-weight: 600;
}

.term-description {
	width: 100%;
	margin-top: 0.5rem;
	overflow-y: auto;
}

@media (min-width: 20em) {
	.term {
		font-size: 1.25rem;
		line-height: 1.8;
	}

	.term-name,
	.term-description {
		padding: 0rem 1rem;
	}

	.term-description {
		margin-top: 0.5rem;
	}
}

@media (min-width: 40em) {
	.term {
		font-size: 1.5rem;
	}
}
