<ul>
	{{#each photos}}
		<li data-name="{{name}}">
			<dl>
				<dt><dfn>{{name}}</dfn></dt>
				<dt><dfn><img src="{{img}}" alt="" role="presentation"></dfn></dt>
				<dd>{{description}}</dd>
			</dl>
		</li>
	{{/each}}
</ul>