<ul>
	{{#each photos}}
		<li data-name="{{name}}">
			<dl class="photo">
				<dt class="photo-name"><dfn>{{name}}</dfn></dt>
				<dt class="photo-image"><dfn><img src="{{img}}" alt="" role="presentation"></dfn></dt>
				<dd class="photo-description">{{description}}</dd>
			</dl>
		</li>
	{{/each}}
</ul>